
on:
  pull_request:
    branches:
    - main
  push:
    branches:
    - main

env:
  NODE_VERSION: '12.x'
  REMOTE_PATH: '/home/kirani/client/'
  LOCAL_PATH: 'client/dist/static.zip'

jobs:
  build:
    name: Build
    runs-on: ubuntu-16.04
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Use Node.js ${{ env.NODE_VERSION }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ env.NODE_VERSION }}
    
    - name: Install System Packages
      run: |
        sudo apt-get update
        sudo apt-get install zip   
    
    - name: Install Client Modules
      run: |
        cd client
        yarn install
    
    - name: Build Client
      run: |
        cd client
        yarn build
    
    - name: Create Archive
      run: | 
        cd client/build
        zip -r static.zip .    
    
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v2.2.0
      with:
        name: Client Static
        path: client/build/static.zip
  deploy:
    name: Deploy
    runs-on: ubuntu-16.04
    needs: build
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Download a Build Artifact
      uses: actions/download-artifact@v2.0.5
      with:
        name: Client Static
        path: client/build/static.zip
      
    - name: Deploy to production
      uses: fifsky/ssh-action@master
      with: 
        command: |
          ls -la
          cat ./deploy.sh | sh -s production
        host: ${{ secrets.AZURE_VM_IP }}
        user: ${{ secrets.VM_USER }}
        key: ${{secrets.PRIVATE_SSH}}
      
